
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>MVC Kamp Tablo Örneği</h3>

        <tr>
            <th>ID</th>
            <th>ADI</th>
            <th>AÇIKLAMA</th>
            <th>DURUM</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Eğitm</td>
            <td>Açıklama yapıldı</td>
            <td>true</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Açıklama yapıldı</td>
            <td>true</td>
        </tr>

    </div>
</body>
</html>
